<div class="explore-item">
  <img src="<%= image %>" alt="">
  <div class="explore-item-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet.Amet minim mollit non de
  </div>

</div>
