<div class="">  
  <img src="graphs/g1-01 <%= number %>.svg" alt="">
  <div class="graph-text hide">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet.Amet minim mollit non deserunt ullamco
  </div>
</div>
