<section class="totals dashboard-section">
  <div class="total text-center">
    <h4>Number of Members</h4>
    11,254
  </div>
  <div class="total text-center">
    <h4>Number of Subscribers</h4>
    22,2983
  </div>
</section>
<section class="member-info dashboard-section">
  <h4>Member Information</h4>
  <div class="sort-buttons">
    Sort By
    <button type="button" name="date">Date</button>
    <button type="button" name="alphabetical">Alphabetical</button>
    <button type="button" name="type">Type</button>
    <button type="button" name="location">Location</button>
  </div>

  <table class="member-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Date</th>
        <th>Type</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Derek</td>
        <td>dereks@email.com</td>
        <td>11/24/20</td>
        <td>Owner</td>
        <td>San Francisco</td>
      </tr>
      <tr>
        <td>Claire</td>
        <td>claires@email.com</td>
        <td>11/23/20</td>
        <td>Owner</td>
        <td>San Francisco</td>
      </tr>
      <tr>
        <td>Christy</td>
        <td>christys@email.com</td>
        <td>11/25/20</td>
        <td>Owner</td>
        <td>San Francisco</td>
      </tr>
      <tr>
        <td>Chris</td>
        <td>chris@email.com</td>
        <td>11/10/20</td>
        <td>Goer</td>
        <td>Machu Picchu</td>
      </tr>
    </tbody>
  </table>

</section>
