
<form class="" action="/search" method="post">
  <input type="text" name="search" value="" placeholder="Search...">
  <button type="submit" name="button">Go!</button>
</form>

<!-- <section class="col container login">
      <div class="card mb-2">
        <div class="card-body text-center">
          <h2 class="card-title">Log In</h2>
          <form action="/login" method="POST" class="form-flex">
            <div class="form-container">
              <div>
                <label for="auth-email">Email</label>
                <input id="auth-email" type="email" name="email">
              </div>

              <div>
                <label for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
              </div>
            </div>
            <button type="submit">Log In</button>
          </form>
        </div>
      </div>


    </section> -->
