
<section class="tagline container">
  <div class="main-event">
    In-N-Out opens first 2 Colorado restaurants, creating a frenzy with wait times of up to 12 hours
    <div class="caption">
      NOV 20, 2020
    </div>
  </div>
  <img src="icons/in-n-out.svg" alt="">
  <div>
    <div class="search">
      <form action="/search" method="post">
        <input type="text" name="search" value="" placeholder="Burger King, Thai, ...">
        <button type="submit" name="button"><img src="icons/mag-glass.svg" alt=""></button>
      </form>
    </div>
  </div>
</section>
<section class="discover container">
  <div class="discover-tagline">
    Discover
  </div>
  <div class="discover-items">
    <div class="discover-item">
      <img src="icons/dining.svg" alt="">
      <div class="discover-item-text">
        Dining
      </div>
    </div>
    <div class="discover-item">
      <img src="icons/events.svg" alt="">
      <div class="discover-item-text">
        Events
      </div>
    </div>
    <div class="discover-item">
      <img src="icons/deals.svg" alt="">
      <div class="discover-item-text">
        Deals
      </div>
    </div>
    <div class="discover-item">
      <img src="icons/covid.svg" alt="">
      <div class="discover-item-text">
        Covid
      </div>
    </div>
    <div class="discover-item">
      <img src="icons/more.svg" alt="">
      <div class="discover-item-text">
        More
      </div>
    </div>
  </div>
</section>


<!-- <section class="col container login">
      <div class="card mb-2">
        <div class="card-body text-center">
          <h2 class="card-title">Log In</h2>
          <form action="/login" method="POST" class="form-flex">
            <div class="form-container">
              <div>
                <label for="auth-email">Email</label>
                <input id="auth-email" type="email" name="email">
              </div>

              <div>
                <label for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
              </div>
            </div>
            <button type="submit">Log In</button>
          </form>
        </div>
      </div>


    </section> -->
