<section class="background">
  <img width="650px" src="icons/desktop/top-right.svg" alt="">
</section>

<main class="container">
  <section class="tagline row home-section">
    <div class="main-event">
      In-N-Out opens first 2 Colorado restaurants, creating a frenzy with wait times of up to 12 hours
      <div class="caption">
        NOV 20, 2020
      </div>
    </div>
    <img src="icons/in-n-out.svg" alt="">
    <div>
      <div class="search">
        <form action="/search" method="post">
          <input type="text" name="search" value="" placeholder="Burger King, Thai, ...">
          <button type="submit" name="button"><img src="icons/mag-glass.svg" alt=""></button>
        </form>
      </div>
    </div>
  </section>
  <section class="discover row home-section">
    <div class="discover-tagline">
      Discover
    </div>
    <div class="discover-items">
      <div class="discover-item">
        <img src="icons/dining.svg" alt="">
        <div class="discover-item-text">
          Dining
        </div>
      </div>
      <div class="discover-item">
        <img src="icons/events.svg" alt="">
        <div class="discover-item-text">
          Events
        </div>
      </div>
      <div class="discover-item">
        <img src="icons/deals.svg" alt="">
        <div class="discover-item-text">
          Deals
        </div>
      </div>
      <div class="discover-item">
        <img src="icons/covid.svg" alt="">
        <div class="discover-item-text">
          Covid
        </div>
      </div>
      <div class="discover-item">
        <img src="icons/more.svg" alt="">
        <div class="discover-item-text">
          More
        </div>
      </div>
    </div>
  </section>

  <section class="explore row home-section">

  </section>
</main>
