<h1>I made it home!</h1>
<form class="" action="/search" method="post">
  <input type="text" name="search" value="" placeholder="Search...">
  <button type="submit" name="button">Go!</button>
</form>
