.totals {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total {
  height: 95px;
  width: 164px;
  background-color: #ffdfa1;
  padding: 10px;
  font-size: 24px;
}

h4 {
  font-size: 12px;
}

.dashboard-section {
  margin-top: 30px;
}

.member-controls {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 270px;
}

.sort-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.member-controls input {
  background-color: #e5e5e5;
  color: #494949;
  border: none;
  border-radius: 10px;
}

.member-controls input:hover,
.member-controls input:active,
.member-controls input:focus {
  background-color: #ffdfa1;
  outline: none;
}

.member-table {
  font-size: 8px;
  margin: 10px 0;
}

.member-table .thead .tr {
  border-top: 1px solid #ffdfa1;
  border-bottom: 1px solid #ffdfa1;
  font-size: 11px;
}

.member-table .tr {
  display: flex;
  justify-content: space-between;
}

.graphs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.graphs-controls {
  position: relative;
  top: -60px;
}

.controls {
  background-color: #f6f6f6;
  width: 259px;
  height: 195px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.date-input input {
  border: 1px solid #767676;
  border-radius: 5px;
}

.date-input input[name="month"] {
  width: 50px;
}

.date-input input[name="year"] {
  width: 150px;
}

.date-input input::-webkit-input-placeholder {
  text-align: center;
}

.graphs-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  font-size: 12px;
}

.graph img {
  width: 180px;
}

@media (min-width: 900px) {
  h4 {
    font-size: 1.5rem;
  }

  .total {
    padding-top: 28px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    height: 220px;
    width: 696px;
    background-color: #ffdfa1;
    font-size: 48px;
  }

  .member-controls {
    font-size: 24px;
    margin-left: 30px;
  }

  .member-controls,
  .sort-buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 15px;
  }

  .sort-buttons {
    background-color: #f6f6f6;
    padding: 20px 33px;
    font-size: 20px;
  }

  .member-controls input {
    padding: 0.25em 1em;
    border-radius: 15px;
  }

  .member-table {
    font-size: 20px;
    margin: 10px 0;
    width: 820px;
  }

  .tbody {
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  .member-table .th {
    font-size: 24px;
  }

  .member-info-main {
    display: flex;
    justify-content: space-between;
  }

  .graphs-controls {
    display: block;
  }

  .graph img {
    width: 100%;
  }

  .graph {
    display: flex;
    width: 425px;
  }

  .graph-text {
    margin: auto;
    display: block;
  }
}
