.totals {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total {
  height: 95px;
  width: 164px;
  background-color: #ffdfa1;
  padding: 10px;
  font-size: 24px;
}

h4 {
  font-size: 12px;
}

.dashboard-section {
  margin-top: 30px;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.sort-buttons button {
  background-color: #e5e5e5;
  color: #494949;
  border: none;
  border-radius: 10px;
}

.sort-buttons button:hover,
.sort-buttons button:active,
.sort-buttons button:focus {
  background-color: #ffdfa1;
  outline: none;
}

.member-table {
  font-size: 8px;
  margin: 10px 0;
}

.member-table .thead .tr {
  border-top: 1px solid #ffdfa1;
  border-bottom: 1px solid #ffdfa1;
  font-size: 11px;
}

.member-table .tr {
  display: flex;
  justify-content: space-between;
}

.graphs-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 900px) {
  h4 {
    font-size: 1.5rem;
  }

  .total {
    padding-top: 28px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    height: 220px;
    width: 400px;
    background-color: #ffdfa1;
    font-size: 48px;
  }

  .sort-buttons {
    font-size: 24px;
  }

  .sort-buttons button {
    padding: 0.25em 1em;
    border-radius: 15px;
  }

  .member-table {
    font-size: 20px;
    margin: 10px 0;
  }

  .member-table .th {
    font-size: 24px;
  }

  .graph-text {
    display: block;
  }
}
