.hidden {
  display: none;
}

main {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

/**
 * Header Styles
 */
header {
  display: flex;
  margin-top: 40px;
}

.dropdown {
  display: inline-block;
}

.headerTitle {
  font-size: 16px;
  display: inline;
}

.dropdown button {
  padding-left: 0;
  background: transparent;
  border: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  font-size: 12px;
}

/**
 * Home Styles
 */

.home-section {
  flex-flow: column wrap;
  margin-top: 50px;
}

.tagline {
  position: relative;
}

.main-event {
  font-size: 12px;
  width: 200px;
}

.caption {
  font-size: 9px;
}

.in-n-out {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -20px;
  right: 20px;
}

.in-n-out img {
  width: 170px;
}

.search {
  position: relative;
  display: inline-block;
}

.input-button {
  position: absolute;
  background: transparent;
  border: none;
  right: 8px;
  top: 5px;
}

.text-input {
  border: 2px solid #ffb82f;
  border-radius: 15px;
  width: 205px;
  height: 36px;
}

.section-tagline {
  height: 23px;
  margin-bottom: 15px;
}

.discover {
  margin-left: auto;
  margin-right: auto;
}

.discover-items {
  display: flex;
  justify-content: space-around;
  background: #fff1d7;
  border-radius: 15px;
  height: 77px;
}

.discover-item {
  margin-top: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  cursor: pointer;
}

/**
 * Explore Styles
 */

.my-carousel {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.half {
  width: 150px;
  font-size: 8px;
}

.half h3 {
  font-size: 12px;
}

.half h5 {
  font-size: 10px;
}

.explore {
  padding-bottom: 40px;
}

.explore-bottom {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

.text-box {
  margin: 15px 0;
}

.subscribe-form {
  position: relative;
  display: inline-block;
}

.subscribe-form input {
  width: 185px;
}

.subscribe {
  background-color: #ffdfa1;
  border-radius: 15px;
  height: 36px;

  position: absolute;
  border: none;
  right: 0;
}

/**
 * Background Styles
 */

.background img {
  position: absolute;
  z-index: -1;
}

.top img {
  top: 0;
  right: 0;
  width: 270px;
}

.bottom img {
  bottom: 0;
  left: 0;
  width: 220px;
}

/* not mobile */
@media (min-width: 600px) {
  .headerTitle {
    font-size: 56px;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .dropdown img {
    margin-right: 15px;
    width: 60px;
  }

  .header-right {
    font-size: 22px;
  }

  .header-right a {
    margin: 10px;
    display: inline;
  }

  .header-right img {
    display: none;
  }

  .main-event {
    font-size: 36px;

    width: 630px;
  }

  .in-n-out {
    right: 100px;
  }

  .in-n-out img {
    width: 470px;
  }

  .text-input {
    width: 490px;
  }

  /**
   */

  .section-tagline {
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
  }

  .my-carousel {
    /* width: 100%; */
    display: block;
    width: 50%;
  }

  .explore-top-right {
    display: block;
  }

  .caption {
    font-size: 12px;
  }

  .top img {
    width: 750px;
  }

  .bottom img {
    width: 450px;
  }
}
