<form class="form-flex" action="/signup" method="post">
  <div class="form-field">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" value="">
  </div>

  <div class="form-field">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" value="">
  </div>

  <div class="form-field">
    <label for="email">Email Address</label>
    <input type="text" name="email" value="">
  </div>

  <div class="form-field">
    <label for="zipCode">Zip Code</label>
    <input type="text" name="zipCode" value="">
  </div>

  <%- include("../dropdown", {id: "signUpDropdown", button: "What best describes your company?", options: ["Independent Restaurant", "Chain Restaurant", "Non-commercial"]}) %>

  <div class="caption">
    <input type="checkbox" name="subscribe-checkbox" value="">
    <label for="subscribe-checkbox">
      Sign me up for the Pyxis newsletter
      <br>
      By clicking above, I agree to the terms of service
    </label>
  </div>

  <button class="subscribe" type="submit" name="button">Sign Up</button>
</form>
